/* Add your CSS here to style your halloween page */
body{
    background-color: purple;
    padding: 2vw;
}
#wrapper{
    background-color: orange;
    margin: 0 auto;
    text-align: center;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
}
li{
    padding: 10px;
}
li:hover{
    background-color: aliceblue;
    color: purple;
}
main{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img{
    width: 90vw;
    height: auto;
}
h1{
    font-size: 10vw;
}
h2{
    font-size: 7vw;
}
p{
    font-size: 4vw;
}