body{
    margin: 0px;
    padding: 0px;
    background-image: url(../images/circuitbackground.png);
    color: #1a1b41;
}
#logocontainer{
    grid-column: 1/2;
}
#logo{
    width: 100%;
    height: auto;
}
header{
    display: grid;
    grid-template-columns: 15vw 35vw 48vw;
    flex: auto;
    background-color: #baff29;
    font-size: 2vw;
}
.headerbuttons{
    text-align: center;
    align-content: center;
    grid-column: 3/3;
    grid-row: 1/1;
}
.headerbuttons a{
    margin: 1vw;
    padding:5px;
    text-decoration: none;
    color: #1a1b41;
}
.headerbuttons a:hover{
    background-color: #6290c3;
    color: #baff29;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}
.hero{
    width: 500px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
.hero h1{
    font-size: 50px;
}
#herotext {
    font-size: 15px;
    background-color: #baff29;
    border-radius: 10px;
    padding: 10px;
}
.herobutton{
    background-color: #baff29;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.herobutton:hover{
    background-color: #6290c3;
}
.challenges{
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,200px);
    column-gap: 5vw;
    row-gap: 5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
    justify-self: center;
    font-size: 12px;
}
.icechallenges{
    margin-top: 15vh;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px 125px);
    column-gap: 5vw;
    row-gap: 3vh;
    margin-left: 15vw;
    margin-right: 15vw;
    text-align: center;
    justify-self: center;
    font-size: 12px;
}
.icechallenges h4{
    display: flex;
    align-items: center;
}
#nelsoncontainer{
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1/2;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#nelson{
    width: 100%;
    height: auto;
}
#nelstext{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#apostlescontainer{
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#apostles{
    width: auto;
    height: 100%;
}
#apostlestext{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#halloweencontainer{
    width: 100%;
    height: auto;
    grid-column: 3/4;
    grid-row: 1/2;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#halloween{
    width: auto;
    height: 100%;
}
#halloweentext{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#devocontainer{
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 3/4;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#devo{
    width: auto;
    height: 100%;
}
#devotext{
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#gallerycontainer{
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 3/4;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#gallery{
    width: 100%;
    height: auto;
}
#gallerytext{
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#flagscontainer{
    width: 100%;
    height: auto;
    grid-column: 3/4;
    grid-row: 3/4;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#flags{
    width: auto;
    height: 100%;
}
#flagstext{
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#positcontainer{
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 5/6;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#posit{
    width: auto;
    height: 100%;
}
#posittext{
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
#signupcontainer{
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 5/6;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 5px #baff29;
    border-radius: 10px;
}
#signup{
    width: auto;
    height: 100%;
}
#signuptext{
    grid-column: 2/3;
    grid-row: 6/7;
    background-color: #baff29;
    border-radius: 10px;
    padding: 5px;
}
footer{
    text-align: center;
    margin-top: 10vh;
}